<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" />
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" ></script>
  <script src="https://kit.fontawesome.com/a4c9bc2fa3.js" crossorigin="anonymous"></script>


  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />


</head>

<body>

  <h1>
  <!-- Top nav bar (fixed) -->
  <body>
    <nav class="nav-Bar">
      <div class="nav-container">
        <span class="logo">Wok 'n Roll</span>
      </div>
      <div class="nav-footer-content">
        <p>Chinese restaurants in the United States began during the California gold rush, which brought twenty to thirty thousand immigrants across from the Canton (Kwangtung or Guangdong) region of China. The first documented Chinese restaurant opened in 1849 as the Canton Restaurant.</p>
        <p class="open-hours">Hours of Operations: M-F 9AM to 9PM</p>
      </div>
      <div class="nav-buttons">
        <button class="signup-btn">Sign Up</button>
      </div>
    </nav>

    <div class="food-images">
      <a href="#menu1" class="food-item">
        <img class="specials">
        <div class="hover-box"></div>
      </a>
      <a href="#menu2" class="food-item">
        <img class="dinner">
        <div class="hover-box"></div>
      </a>
      <a href="#menu3" class="food-item">
        <img class="breakfast">
        <div class="hover-box"></div>
      </a>
    </div>

    <div id="menu1" class="menu">
      <div class="grid-container">
        <div> <h3>Pegasus Wings</h3>
          <p>Fried chicken wings coated in a spicy sauce</p>
        </div>
        <div> <h3>Mermaid's Cove Oysters</h3>
          <p> Fresh oysters on the half-shell with a tangy mignonette sauce</p>
        </div>
        <div> <h3>Kraken Kebab</h3>
          <p>Grilled skewers of shrimp and veggies, served over rice</p>
        </div>
        <div> <h3>Phoenix Chicken </h3>
          <p> Roasted chicken with herbs and lemon, served over a bed of vegetables</p>
        </div>
        <div> <h3>Unicorn Sundae</h3>
          <p> Vanilla ice cream topped with rainbow sprinkles, whipped cream, and a cherry</p>
        </div>
        <div> <h3>Steak </h3>
          <p></p>
        </div>
        <div> <h3>Chicken Tikka Masala</h3>
          <p></p>
        </div>
        <div><h3>Pasta</h3>
          <p></p>
        </div>
      </div>
    </div>

    <div id="menu2" class="menu">
      <div class="grid-container">
        <div> <h3>Pegasus Wings</h3>
          <p>Fried chicken wings coated in a spicy sauce</p>
        </div>
        <div> <h3>Mermaid's Cove Oysters</h3>
          <p> Fresh oysters on the half-shell with a tangy mignonette sauce</p>
        </div>
        <div> <h3>Kraken Kebab</h3>
          <p>Grilled skewers of shrimp and veggies, served over rice</p>
        </div>
        <div> <h3>Phoenix Chicken </h3>
          <p> Roasted chicken with herbs and lemon, served over a bed of vegetables</p>
        </div>
        <div> <h3>Unicorn Sundae</h3>
          <p> Vanilla ice cream topped with rainbow sprinkles, whipped cream, and a cherry</p>
        </div>
        <div> <h3>Steak </h3>
          <p></p>
        </div>
        <div> <h3>Chicken Tikka Masala</h3>
          <p></p>
        </div>
        <div><h3>Pasta</h3>
          <p></p>
        </div>
      </div>
    </div>

    <div id="menu3" class="menu">
      <div class="grid-container">
        <div> <h3>Pegasus Wings</h3>
          <p>Fried chicken wings coated in a spicy sauce</p>
        </div>
        <div> <h3>Mermaid's Cove Oysters</h3>
          <p> Fresh oysters on the half-shell with a tangy mignonette sauce</p>
        </div>
        <div> <h3>Kraken Kebab</h3>
          <p>Grilled skewers of shrimp and veggies, served over rice</p>
        </div>
        <div> <h3>Phoenix Chicken </h3>
          <p> Roasted chicken with herbs and lemon, served over a bed of vegetables</p>
        </div>
        <div> <h3>Unicorn Sundae</h3>
          <p> Vanilla ice cream topped with rainbow sprinkles, whipped cream, and a cherry</p>
        </div>
        <div> <h3>Steak </h3>
          <p></p>
        </div>
        <div> <h3>Chicken Tikka Masala</h3>
          <p></p>
        </div>
        <div><h3>Pasta</h3>
          <p></p>
        </div>
      </div>
    </div>

</body>

</html>
