body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}


.nav-Bar {
  height: 150px;
  width: 100%;
  color: #0000ff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #666973;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.nav-Bar:hover{
  background-color: #645e5d;
  transition: 0.3s ease-in-out;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.signup-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.signup-btn:hover {
  background-color: #3e8e41;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ff6600;
  text-shadow: 1px 1px #333;
}

