body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}


.about {
  background-color: #f8f8f8;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 75px 0;
}

.about h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #333;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #777;
  margin-bottom: 20px;
}

.about p:last-child {
  margin-bottom: 0;
}
