/* Section Title */
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Shop Content */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* Product Box */
.product-box {
  width: 100%;
  transform: scale(0.9);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.product-box:hover {
  transform: scale(1);
}


.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.product-details {
  padding: 1.5rem;
}

.product-title {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}

.product-description {

  font-size: 16px;
  color: #555555;
  margin-bottom: 1rem;
}

.product-price {
  font-weight: 600;
  font-size: 1.2rem;
  color: #222222;
}

.add-cart {
  display: block;
  padding: 1rem 2rem;
  background-color: #f6cb5f;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-cart:hover {
  background-color: #F59E0B;
  box-shadow: 0px 5px 6px rgb(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 50vh;
  margin: 80px 0;
  overflow-y: auto;
  background-color: white;
  border-left: 1px solid #DDDDDD;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;

}

.cart.active {
  right: 0;
}

.cart-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222222;
  text-shadow: 1px 1px #999;
  background-image:  linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-box {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #DDDDDD;
}

.cart-image {
  height: 80px;
  overflow: hidden;
}

.cart-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.cart-product-title {
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222222;
  text-shadow: 1px 1px #999;
  background-image:  linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-buy{
  display: inline-block;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: rgb(119, 101, 238);
  color: white;
  font-size: 1rem ;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
    justify-content: center;
    align-items: center;
}

.button-buy:hover{
  transform: scale(1.50);
  background-color: rgb(108, 225, 212);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#cart-close {
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 1.2rem;
  color: darkblue;
  cursor: pointer;
}

#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.total-price{
  font-size: 1.8rem;
  color: green;
}

@media (max-width: 1343px) {
  .product-description {
    display: none;
  }
  .add-cart{
    position: fixed;
    bottom: 0;
    border-radius: 2px;
    padding: 0.5rem 1rem;
  }
  .product-price{
   margin-bottom: 100px;
  }
  #cart-icon{
  }
}
